<li><a href="{{url_for('view_dl_applications', status='All')}}">All Applications</a></li>
<li><a href="{{url_for('view_dl_applications', status='Received')}}">Received</a></li>
<li><a href="{{url_for('view_dl_applications', status='Approved')}}">Approved</a></li>
<li><a href="{{url_for('view_dl_applications', status='Rejected')}}">Rejected</a></li>
<li><a href="{{url_for('view_dl_applications', status='Saved')}}">Saved</a></li>
<li><a href="{{url_for('view_dl_applications', status='Submitted')}}">Submitted</a></li>
<li><a href="{{url_for('view_dl_applications', status='Recommended For Third Party')}}">Recommended For 3rd Party</a></li>
<li><a href="{{url_for('view_dl_applications', status='Referred For Third Party')}}">Referred For 3rd Party</a></li>
<li><a href="{{url_for('view_dl_applications', status='Recommended For Approval')}}">Recommended For Approval</a></li>
<li><a href="{{url_for('view_dl_applications', status='Recommended For Rejection')}}">Recommended For Rejection</a></li>
<li><a href="{{url_for('view_dl_applications', status='Archived')}}">Archived</a></li>


