{% extends "base.html" %}
{% block title %}Application Form{% endblock %}
        
{% block content %}
<main>

        <div class="container">
                <h3 style="margin:15px 0; padding:8px;color:#fff;background-color:#ccc">
                        INSTRUCTIONS
                    </h3>
                    <div style="padding:20px">
                        <ol type="1">
                            <li style="padding:5px 0;    line-height: 25px;">&nbspApplicants from
                                <strong>New South Wales</strong> will apply only at Consulate General of Pakistan Sydney for their driving license verification.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbspIn case of Pakistani Driving License, it should first be verified from the license issuing authority in Pakistan by obtaining a NOC attested from the Ministry of &nbspForeign Affairs in Islamabad or its Camp Offices at Karachi,
                                Lahore, Peshawar and Quetta.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbspIf the driving license is verifiable online from the official database, requirement of obtaining NOC can be waived off.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbspApplicants desiring to have letter of authenticity of the license or requesting confirmation of name as appearing in license etc must also fill the statuary&nbsp declaration signed by Notary Public or J.P. and submit the same
                                to the Consulate General in original. This declaration would be enclosed in the letter addressed to the relevant RTA.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbspThis form can either be submitted personally or through register / courier mail.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbspApplicant is required to submit or send a self addressed, Express or Registered Post return envelope to receive outcome by post.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbspThe validity of Driving License Verification remains one year. After one year, you need to re-apply to have a fresh verification.
                            </li>
                            <li style="padding:5px 0;    line-height: 25px;">&nbsp<u>Submitting fake documents, including fraudulent attestations, is a felony under Commonwealth Law</u>. Fake documents with the application will be reported &nbsp;to Roads and Maritime and Police. which may prohibit any future
                                chance of obtaining a driving license.
                            </li>
                        </ol>
                    </div>
                    <div>
                        <h3 style="margin:15px 0; padding:8px;color:#fff;background-color:#ccc">
                            CHECK LIST
                        </h3>
                        <div style="padding:20px">
                            <ol type="1">
                                <li style="padding:5px 0;
        line-height: 23px;margin-bottom:-17px">&nbsp Applicants Form for Driving License Verification duly filled in and signed including the statutory declaration.
                                </li style="padding:5px 0;
        line-height: 23px;">&nbsp
                                <li style="padding:5px 0;
        line-height: 23px;">&nbsp Applicant's copy of Passport
                                </li>
                                <li style="padding:5px 0;
        line-height: 23px;">&nbsp Applicant's copy of CNIC / NICOP
                                </li>
                                <li style="padding:5px 0;
        line-height: 23px;">&nbsp Applicant's copy of the Pakistani Driving License
                                </li>
                                <li style="padding:5px 0;
        line-height: 23px;">&nbsp Postal Money Order / Certified Bank Cheque / Bank Draft for processing fee amounting to AUD 20.00
                                </li>
                                <li style="padding:5px 0;
        line-height: 23px;">&nbsp Pre-paid, self-Addressed Express or Registered Post Envelope
                                </li>
                                <li style="padding:5px 0;
        line-height: 23px;">&nbsp Original NOC / Verification letter (duly attested as explained in the instruction above)
                                </li>
        
                            </ol>
        
                        </div>
                        <table>
                            <tr>
                                <td style="padding:5px 0;">
                                    <strong>
                                    Processing Fee:
                            </strong>
        
                                </td>
                                <td style="padding:5px 0;">
                                    AU$ 20.00 (non-refundable)
                                </td>
                            </tr>
                            <tr>
                                <td style="padding:5px 0;">
                                    <strong>
                                    Processing Time:
                            </strong>
        
                                </td>
                                <td style="padding:5px 0;">
                                    5 working days (only if the documents are satisfactory and genuine).
                                </td>
                            </tr>
                        </table>
                        <strong>
                       <div style="margin:10px 0;"> Mode of Payment:</div>
                </strong>
                        <div style="padding-left:20px">
        
                            <ul>
                                <li style="padding:5px 0;">&nbsp You can send Postal Money Order / Certified Bank Cheque / Bank Draft in favor of
                                    <strong>"Consulate General of Pakistan Sydney"</strong>.
                                </li>
                                <li style="padding:5px 0;">&nbsp All types of
                                    <strong>Credit / Debit Cards</strong> are also accepted for payment in the
                                    <strong>
                            Consulate General Sydney </strong>through
                                    <strong>EFTPOS machine </strong> at the Consular&nbspServices &nbsp&nbspCounter.
                                </li>
                                <li style="padding:5px 0;">&nbsp
                                    <strong>No Cash is accepted in any case.</strong>
                                </li>
        
                            </ul>
        
                        </div>
        
        
                        <table style="padding-top:20px">
                            <tr>
                                <td valign="top">
                                    <strong>
                                            Contact:
                                    </strong>
        
                                </td>
                                <td style="padding-left:100px">
                                    Consulate General of Pakistan </br>
                                    Level 3, 109 Pitt Street</br>
                                    P.O. Box 5256, Sydney CBD NSW 2000</br>
                                    Tel: +61-2-9220-5600 (1400-1600 hours)</br>
                                    Fax: +61-2-9223-0140</br>
                                    <a href="consul@pakconsulate.org.au?" target="_top">consul@pakconsulate.org.au</a>
        
                                </td>
                            </tr>
                            <tr>
                                <td style="padding-top:10px;padding-bottom:10px">
                                    <strong>
                                            Consular Timings:
                                    </strong>
        
                                </td>
                                <td style="padding-left:100px;padding-top:10px;padding-bottom:10px">
                                    0930 – 1300 hours (Monday-Thursday); 0930-1200 hours (Friday)
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="row center">
                    <a class="btn" href="{{url_for('dl_application')}}">Continue</a>
                    </div>
        </div>
{% endblock %}


