{% extends "base.html" %}
{% block title %}Application Form{% endblock %}
        
{% block content %}
{% include '_flashmessages.html' %}

        <main>
        <div class="section"></div>
        <div class="container z-depth-1">
        <ul class="tabs">
        <li class="tab col s3"><a target="_self" href="{{url_for('dl_application')}}">Enter details</a></li>
        <li class="tab col s3"><a target="_self" href="{{url_for('upload')}}">Upload Files</a></li>
        <li class="tab col s3"><a target="_self" href="{{url_for('payment_details')}}">Payment</a></li>
        <li class="tab col s3 disabled"><a href="#">Confirmation</a></li>

      </ul>

      <div class="divider">
      </div>

       
        <div class="center-box z-depth-2 hoverable z-depth-1 grey lighten-4">
                <h4 class="center">Application for Authentication of Pakistan Driving License</h4>


             
            {% from "_formhelpers.html" import render_auto_row %}
            {% from "_formhelpers.html" import render_double_row %}
            {% from "_formhelpers.html" import render_date_row %}
            {% from "_formhelpers.html" import render_datefield_row %}
            {% from "_formhelpers.html" import render_date %}


            
            <form class="col s12" method="post" action="{{ url_for('enter_payment') }}" role="form">
                {{ form.hidden_tag() }}
                {% for x in form %}
                {% if x.id != 'csrf_token' %}
                
                {{render_auto_row(x, "s12 m12", classvar=x.type)}}

                {% endif %}  
                {% endfor %}
                 <div class="input-field col s12">
<!--           <input disabled value="$20.00" id="disabled" type="text" class="validate">
          <label for="disabled">Payment Amount</label>
 -->        </div>

                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="nextbutton">Next</button>
                </div>
                <div class="section"></div>
                {%if error %}
                    <div class="errors">{{ error }}</div>
                {% endif %}
                

            </form>
            
         </div>

         </div>
         <div class="section"></div>

         </main>

{% endblock %}

{% block scripts %}
    {{ super() }}
 
    <script type="text/javascript" src="{{ url_for('static', filename='js/datepicker.js') }}"></script>
    
    <script>
    /* global $ */
   
    $(document).ready(function(){
        
        $('input').bind('input',function(){ 
            $(this).siblings( ".errors" ).remove();
        });
        
        // $('input').focusin(function() {
        //   $(this).siblings( ".errors" ).remove();
        // });
        
        $('.datepicker').focusin(function() {
          $(this).siblings( ".errors" ).remove();
        });
        
    });
    
    </script>
{% endblock %}


